/* Estilos da pagina index.html*/
.center{
    text-align: center;
}
.p1{
    font-size: 25px;
}
.p2{
    font-size: 20px;
    
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;

}
.container-2{
    display: flex;
    flex-flow: row ;
    justify-content:center;
}
#menu li {
    display: inline;
    padding: 20px;
}
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#menu li a:hover{
    color: blueviolet;
}
.br-50{
    border-radius: 50%;
}
.wh{
    width: 300px;
    height: 300px;
}
.p-30{
    padding: 15;
}
.tm{
    width: 5opx;
    height: 50px;
}
.mb{
    margin-bottom: 50px;
}
.justify{
    text-align: justify;
}
.ml{
    margin-left: 50px;
}